<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Blog Posts</h1>
    <div class="navbar">
      <a class="nav-items" href="/new-post">Create Post</a>
      <a class="nav-items" href="/edit-post">Edit Post</a>
      <a class="nav-items" href="/">FAQ's</a>
      <a class="nav-items" href="/">About</a>
    </div>
    <ul class="delete">
      <% posts.forEach((post, index) => { %>
      <li class="post">
        <a class="post-item" href="/post/<%= index %>"><%= post.title %></a>
      </li>
      <form
        action="/post/<%= index %>?_method=DELETE"
        method="POST"
        style="display: inline"
      >
        <button class="delete-btn" type="submit">Delete</button>
      </form>
      <% }) %>
    </ul>
  </body>
</html>
