<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <form class="form" action="/post-edit" method="POST">
      <!-- <input type="text" name="title" placeholder="Title" required /> -->
      <textarea
        class="title-container"
        name="title"
        placeholder="Title"
        required
      >
        <%= post.title %>
      </textarea>
      <textarea
        class="content-container"
        name="content"
        placeholder="Content"
        required
      >
        <%= post.content %>
      </textarea>
      <button type="submit">Submit</button>
    </form>
    <a class="return" href="/">Back to Home</a>
  </body>
</html>
