<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <form action="/post-edit" method="POST">
      <input type="text" name="title" placeholder="Title" required />
      <textarea name="content" placeholder="Content" required>
        <%= post.content %>
      </textarea>
      <button type="submit">Submit</button>
    </form>
    <a href="/">Back to Home</a>
  </body>
</html>
